@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('./image/OIP.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

@layer utilities {
    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(150%);
        }
    }
    .animate-loading-bar {
        animation: loading 0.8s ease infinite;
    }
}

@layer utilities{
    @keyframes blink{
        0%, 100% {opacity: 1;}
        50% {opacity: 0;}
    }
    .animate-blink{
        animation: blink 4s step-start infinite;
    }
}